{% extends 'back.html.twig' %}

{% block title %}Producto Show{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1>Reserva Data</h1>
        {% if reserva %}
            <div class="row justify-content-center">
                <div class="col-1" style="margin-top: -40px">
                    <a href="../"><button class="button-four bg-danger"><i class="fas fa-chevron-circle-left mx-1"></i>Atrás</button></a></div>



                <div class="card col-lg-4 col-md-4 mx-2 mt-5">
                    <div class="card-header">
                        <h2>Reserva</h2>
                    </div>
                    <h3 class="card-title ml-5 mt-2"><strong>Username:</strong> {{reserva.usuario.username}}</h3>
                    <hr>
                    <h3 class="card-title ml-5"><strong>Servicio:</strong>{{reserva.ServicioId.nombre}}</h3>
                    <hr>
                    <h3 class="card-title ml-5"><strong>Hora:</strong>{{reserva.horaCita}}</h3>
                    <hr>
                    <h3 class="card-title ml-5"><strong>Fecha:</strong>{{  reserva.fechaCita | date("Y-m-d") }}</h3>
                </div>
            </div>
        {% else %}
            <p>Reserva not found</p>
        {% endif %}

    </div>

{% endblock %}