{% extends 'base.html.twig' %}

{% block title %}Servicios | Juan Bisquert{% endblock %}

  {% block body %}
<div class="container-fluid">
    <div class="row fila-servicios">
        <div class="col-2">
            <div class="sidenav">
                <a href="quienes-somos-equipo.html">Equipo</a>
                <a href="quienes-somos-instalaciones.html">Instalaciones</a>
                <a href="quienes-somos-filosofia.html">Filosofía</a>
            </div>
        </div>
        <div class="col-6 texto-servicios">

            <div class="row">
                <h1>Equipo</h1>
            </div>
            <div class="row textos-quienes-somos">
                <p>En Peluquería Juan Bisquert, contamos con personal cualificado, con títulos de cursos oficiales y
                    por la experiencia adquirida durante todos los años en activo. Un equipo
                    jóven, dinámico y con ganas de aprender siempre. Nuestro personal ha sido formado en academias
                    privadas de peluquería y es capaz de lograr el mejor resultado en cada servicio.
                    Haremos de su servicio una experiencia única, cuidamos todos los detalles al máximo.
                </p>
                <p>Nuestro equipo se caracteriza por la exquisita atención al cliente y unos acabados simplemente
                    perfectos. Lograremos realizar cualquier tipo de servicio, siempre personalizado y con
                    atención inmediata.
                </p>
            </div>

            <div class="row imagenes-quienes-somos">
                <img src="img/quienes-somos-1.jpg" alt="quienes-somos-1">
            </div>

        </div>
        <div class="col-2">

        </div>
    </div>
</div>

{% endblock %}
