{% extends 'base.html.twig' %}

{% block title %}Servicios | Juan Bisquert{% endblock %}

<div class="container-fluid">
    <div class="row fila-servicios">
        <div class="col-2">
            <div class="sidenav">
                <button class="dropdown-btn">Servicios
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="servicios-peluqueria.html">Peluquería</a>
                    <a href="servicios-tratamientos.html">Tratamientos</a>
                    <a href="servicios-manicura.html">Manicura</a>
                </div>
            </div>
        </div>
        <div class="col-5 texto-servicios">

            <div class="row">
                <h1>Peluquería</h1>
            </div>
            <div class="row">
                <p>Se realizan todo tipo de servicios de señora y caballero desde cortes , colores, degradados, secados,
                    recogidos y mucho más, siempre estaremos abiertos a cualquier
                    sugerencia por parte del cliente.
                </p>
                <p>Aplicamos los mejores productos para el mejor cuidado de su cabello. Todos los productos que
                    aplicamos están disponibles a la venta en nuestra tienda online, como en
                    la peluquería, si le ha gustado un champú o una mascarilla no dude en preguntarnos.
                </p>
            </div>
            <img src="img/servicios-2.jpg" alt="servicios-2" id="servicios-2">

        </div>
        <div class="col-2 fotos-servicios">
            <img src="img/servicios-7.jpg" alt="servicios-11">
            <img src="img/servicios-12.jpg" alt="servicios-12">
        </div>
    </div>
</div>

