{% extends 'base.html.twig' %}

{% block title %}Juan Bisquert | Peluqueria{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row fila-ruta">
            <div class="col-5 col-ruta">
                <div><span>Estas aquí: </span><a href="/">Home</a><span><i
                                class="fa fa-caret-right"></i><a href="login"
                                                                 class="active">Login</a></span><span></span></div>
            </div>
        </div>
    </div>

    <div class="row fila-formulario justify-content-center">
        <div class="form-style-3 col-3 col-formulario">

            <!-- Alertas
            <div class="alert alerta-login" role="alert">

            </div>

            <div class="alert alerta-login" role="alert">
            </div>
            -->

            <form class="mt-5 bg-light p-4" method="post" novalidate>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control"
                           name="username" id="username"
                           value=""
                           placeholder="Username:" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="text" class="form-control"
                           name="password" id="password"
                           value=""
                           placeholder="Password:" required>
                </div>
                <div class="row justify-content-center">
                <input type="submit" class="button-two mx-3" value="Login">
                <input type="submit" class="button-two mx-3" value="Sign Up">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
